@using ScreenWebApp.Models
@inject IJSRuntime js
@page "/SliderComponent"



 <div class="carousel slide" data-ride="carousel" data-pause="false" >
    <div class="carousel-inner"> 

        @for (int i = 0; i < Pictures.Count; i++)
        {
            
            string active = ( i == ActiveSlide) ? "active":  "";
                <div class="carousel-item @active" >
                        <img src="@Pictures[i].Base64" class="img-thumbnail bgomlaAddImg "  />
                </div>    
            
        }     
    </div>            
                             
 </div> 



 
 @code{
     
    [Parameter]
    public List<PictureModel> Pictures {get;set;}  
    [Parameter]
    public int ActiveSlide {get;set;}


    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            await js.InvokeVoidAsync("initSlideShow", "ul_" +  ActiveSlide );
        }
    

 }