@using ScreenWebApp.Models

@page "/SliderComponent"



 <div class="carousel slide  carousel-fade" data-ride="carousel" data-pause="false" id="slide_@id" >
    <div class="carousel-inner"> 

       
        @for (int i = 0; i < Pictures.Count; i++)
        {
            
            string active = ( i == ActiveSlide) ? "active":  "";
            
                <div class="carousel-item @active" >
                  
                        <img src="@Pictures[i].Base64" class="img-thumbnail bgomlaAddImg1080"  />
                </div>    
            
        }     
    </div>            
                             
 </div> 



 
 @code{
     
    [Parameter]
    public List<PictureModel> Pictures {get;set;}  
    [Parameter]
    public int ActiveSlide {get;set;}

    private int id{get; set;}
    
    

    protected override void OnParametersSet()
    {
        id = ActiveSlide;
        if(ActiveSlide > (Pictures.Count-1) ){
            ActiveSlide = (ActiveSlide - Pictures.Count);
        }
    }
  
 }